{% extends "cleaning/header.html" %}
{% load staticfiles %}
{% block active %}
    <p class="active">Home/Contact Us</p>
{% endblock %}
{% block content %}

  <div style="width:90%;height:300px;margin-left: 5%;" id="contact">
  <div style="position: relative;top: 20%;margin-left: 50px">
    <h2>Contact</h2>
        <i class="fa fa-map-marker" style="width:30px"></i> New Delhi<br>
        <i class="fa fa-phone" style="width:30px"></i> Phone: +9<br>
        <i class="fa fa-envelope" style="width:30px"> </i> Email: bikolfresh@support.com<br>
  </div>
  </div>



{% endblock %}